
# Ignore anything beginning with a dot: these are usually temporary or
# unimportant.
.*

# Exceptions to the rules above: files we care about that would otherwise be
# excluded.
!.gitignore

# The binaries.
/chasquid
/chasquid-util
/smtp-check
/spf-check
/mda-lmtp
cmd/chasquid-util/chasquid-util
cmd/smtp-check/smtp-check
cmd/spf-check/spf-check
cmd/mda-lmtp/mda-lmtp

# Test binary, generated during coverage tests.
chasquid.test

# Exclude any .pem files, to prevent accidentally including test keys and
# certificates.
*.pem
