
# Ignore anything beginning with a dot: these are usually temporary or
# unimportant.
.*

# Exceptions to the rules above: files we care about that would otherwise be
# excluded.
!.gitignore
!.gitattributes
!.clang-format
!.github/

# The binaries.
/chasquid
/chasquid-util
/smtp-check
/mda-lmtp
/dovecot-auth-cli
cmd/chasquid-util/chasquid-util
cmd/smtp-check/smtp-check
cmd/mda-lmtp/mda-lmtp
cmd/dovecot-auth-cli/dovecot-auth-cli

# Test util binaries.
test/util/conngen/conngen
test/util/coverhtml/coverhtml
test/util/fexp/fexp
test/util/generate_cert/generate_cert
test/util/gocovcat/gocovcat
test/util/loadgen/loadgen
test/util/minidns/minidns
test/util/smtpc/smtpc

# Test binary, generated during coverage tests.
chasquid.test

# chamuyero logs
*.cmy.log

# Exclude any .pem files, to prevent accidentally including test keys and
# certificates.
*.pem
