[Unit]
Description=chasquid mail daemon (submission over TLS sockets)

[Socket]
ListenStream=465
FileDescriptorName=submission_tls
Service=chasquid.service

[Install]
WantedBy=chasquid.target

