[Unit]
Description=chasquid mail daemon (SMTP sockets)

[Socket]
ListenStream=25
FileDescriptorName=smtp
Service=chasquid.service

[Install]
WantedBy=chasquid.target

