[Unit]
Description=chasquid mail daemon (service)

[Service]
ExecStart=/usr/local/bin/chasquid \

#	-v=3 \
#	--log_dir=/var/log/chasquid/ \
#	--alsologtostderr \

Type=simple
Restart=always

User=mail
Group=mail

# Let chasquid listen on ports < 1024.
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Simple security measures just in case.
ProtectSystem=full

[Install]
WantedBy=multi-user.target

